.wrapper {
    position: absolute;
    right: 20px;
    top: 40px;
    display: flex;
    gap: 8px;
}

@media screen and (min-width:768px) {
    .wrapper {
        right: 40px;
    }
}

.btn_pagination {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--hover-border)
}

@media screen and (min-width:768px) {
    .btn_pagination {
        height: 40px;
        width: 40px;
    }
}

.disabled {
    & svg {
        opacity: 0.2
    }
}