.header {
    background-color: var(--bg-second-color);
    height: 57px;
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 335px;
    margin: 20px auto 10px auto;

}

@media screen and (min-width:768px) {
    .header {
        height: 74px;
        margin: 32px auto 16px auto;
        max-width: 704px;
    }
}

@media screen and (min-width:1280px) {
    .header {
        max-width: 1216px;
    }
}

.btn_burger {
    background-color: transparent;
    padding: 0;
}

.wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.wrapper_name {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--hover-border);
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.02em;
}

@media screen and (mai-width:768px) {
    .wrapper_name {
        height: 40px;
        width: 40px;
    }
}

.full_name {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.02em;
}