.header {
    background-color: var(--bg-second-color);
    height: 57px;
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn_burger {
    background-color: transparent;
    padding: 0;
}