.backdrop {
    background-color: var(--bg-backdrop);
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
    z-index: 1000;
    height: 100vh;
}

.menu {
    background-color: var(--bg-third-color);
    position: fixed;
    width: 200px;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 280px 0 40px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn_close {
    position: absolute;
    top: 34px;
    right: 40px;
    background-color: transparent;
}