.books_list {
    display: flex;
    gap: 21px;
    flex-wrap: wrap;
}

@media screen and (min-width:768px) {
    .books_list {
        row-gap: 27px;
        column-gap: 25px;
    }
}

@media screen and (min-width:1280px) {
    .books_list {
        column-gap: 20px;
    }

}