:root {
  --bg-color: #141414;
  --bg-second-color: #1F1F1F;
  --text-color: #F9F9F9;
  --my-green: #30B94D;
  --my-blue: #4F92F7;
  --my-gris: #686868;
  --my-gris-30: rgba(227, 227, 227, 0.3);
  --my-gris-50: rgba(227, 227, 227, 0.5);
  --bg-third-color: #262626;
  --my-red: #E90516;
  --hover-border: rgba(249, 249, 249, 0.2);
  --hover-border-input: rgba(249, 249, 249, 0.1);
  --bg-backdrop: rgba(20, 20, 20, 0.6)
}

body {
  font-family: Gilroy, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;

}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 300ms ease-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  outline: none;
  cursor: pointer;
  transition: background-color 300ms ease-out;
  border: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

input {
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;

}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('./assets/fonts/Gilroy-Medium.ttf') format('ttf');
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('./assets/fonts/Gilroy-Bold.ttf') format('ttf');
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

.container_auth {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 335px;
  margin: 20px auto 0 auto;
}

@media screen and (min-width: 768px) {
  .container_auth {
    margin-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 704px;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 335px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 704px;
  }
}

@media screen and (min-width: 1280px) {

  .container,
  .container_auth {
    max-width: 1216px;
  }
}